#scrollbtn {
    display: flex;
    padding: .65rem;
    margin-right: 2rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background: rgba(112, 119, 147, .20);
    transition: var(--transition);
}

.scrollbox {
    display: flex;
    justify-content: flex-end;
    right: .75rem;
    bottom: 3rem;
    z-index: 9999;
    position: fixed;
    background: transparent;
}

#scrollbtn:hover {
    background: rgba(112, 119, 147, .05);
    color: var(--light);
    transition: var(--transition);
    cursor: pointer;
}

.visible {
    opacity: 100;
    transition: var(--transition);
}

.invisible {
    opacity: 0;
    transition: var(--transition);
}