footer {
    background: transparent;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--light);

}

.footer-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 75%;
    align-items: center;
    border-top: 1px solid rgba(59, 186, 156, .25);
}

.footer-options {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.footer-option {
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-icon2:hover {
    color: rgba(59, 186, 156, .25);
    transition: var(--transition);
}

.footer-icon:hover {
    color: rgba(59, 186, 156, .25);
    transition: var(--transition);
}

.footer-icon {
    font-size: .85rem;
}

.footercopy {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* media queries (tablets) */
@media screen and (max-width: 1024px) {
    .footer-container {
        bottom: 0;
    }
}

/* media queries (mobile devices) */
@media screen and (max-width: 600px) {
    .footer-icon {
        margin-top: 0rem;
    }

    .footer-container {
        height: 100%;
    }

    .footercopy a {
        font-size: .5rem;
    }

    footer {
        margin-top: 2rem;
    }
}